/* Navbar complete*/


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* Complete */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
}

.head-log{
    margin: 10px;
    color: #f9faf8;
    font-size: 24px;
}

.links{
    list-style: none;
    margin: 5px;
    gap: 20px;
    color: #e5e7eb;
    font-size: 18px;
}

ul{
    display: flex;
}

.top-text{
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    color: #e5e7eb;
    background-color:#1f2937;
    padding-left: 200px;
    padding-right: 200px;
}

.top-body{
    display: flex;
}

.top-body-left, .top-body-right{
    width: 50%;
}

.top-img{
    display: flex;
    height: 250px;
    width: auto;
    background-color: #6D747D;
}

.top-botton{
    font-size: 20px;
    color: #e5e7eb;
    background-color: #3882f6;
    height: 60px;
    width: 300px;
    border-radius: 8px;
    margin-top: 20px;
    font-weight: bolder;
}